extends ../node_modules/jade-bootstrap/layouts/starter

append styles
	link(href='/css/styles.css', rel='stylesheet')

append body
	.container
		h1= title
		p Welcome to #{title}
		+alert-info("This is a sample info alert.")
		+navbar("Project name","dropdown_menu")
		+navbar("Project name","dropdown_menu","inverse")
		+navbar("Project name","dropdown_menu")
			+nav_item("index.html","active") Home
			+nav_item("about.html") About
			+nav_item("contact.html") Contact
		+navbar("Project name","dropdown_menu")
			+nav_item("index.html","active") Home
			+nav_item("about.html") About
			+nav_item("contact.html") Contact
			+nav_item_dropdown("#")(label="Dropdown")
				+nav_item("#") Action
				+nav_item("#") Another Action
				+nav_item("#") Something else here
				+nav_divider
				+nav_header Nav header
				+nav_item("#") Separated link
				+nav_item("#") One more separated link
	h1 Rajasegar

block scripts
	//script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
	//script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
	script(src="js/jquery.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/client_spa.js")
