extends /layouts/default

append body
	.container
		ul
			each user, i in users
				li.user
					a(href="/users/#{user.id}") #{user.first_name} #{user.last_name}
		a.btn.btn-primary.btn-lg(href='/users/new') New User